<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TimeBite</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scales=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        
        <!-- <link rel="stylesheet" href="style.css"> -->
    </head>
    <body>
        <header>
            <h1>TimeBite</h1>
            <h4>It takes all your tasks and builds one perfect schedule!</h4>
        </header>
        <br>
        <br>
        <section class='home'>
            <h2>Your todo list and available times:</h2><br>
            {{ email }}
            <h3><a href="{{ url_for('views.assignment', email = email) }}" target="_blank">Your todo list</a></h3><br>
            <h3><a href="{{ url_for('views.timeslots', email=email) }}" target="_blank">Available Timeslots</a></h3><br>
            <h2>Added everything? Click <a href="{{ url_for('views.run_algo', email=email) }}" target="_blank">here</a> to build your schedule</h2>
            <a href="/logout">logout</a>
        </section>
    </body>
</html>