    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.6;
      background: #bed16b;
    }

    ul {
      list-style: none;
    }

    ul li {
      padding: 5px;
      background: #f4f4f4;
      margin: 5px 0;
    }

    header {
      background: #f4f4f4;
      padding: 1rem;
      text-align: center;
    }

    .container {
      margin: auto;
      width: 500px;
      overflow: auto;
      padding: 2rem 2rem;
      background: #9fd8ca;
      float: right;

    }
    .home {
      margin: auto;
      width: fit-content;
      height: fit-content;
      overflow: auto;
      padding: 2rem 2rem;
      background: #9fd8ca;
    }

    .list {
      margin: auto;
      width: 760px;
      height: min-content;
      overflow: auto;
      padding: 2rem 2rem;
      background: #dee75d;
      float: left;

    }

    .results {
      margin: auto;
      width: 900px;
      overflow: auto;
      padding: 2rem 2rem;
      background: #dee75d;

    }

    #my-form {
      width: fit-content;
      height: fit-content;
      padding: 1rem 1rem;
      background: #f4f4f4;
    }

    #my-form label {
      display: block;
    }

    #my-form input[type='text'] {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    #my-form input[type='datetime-local'] {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    #my-form input[type='number'] {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    #my-form input[type='email'] {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    #my-form input[type='password'] {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .btn {
      display: block;
      width: 100%;
      padding: 10px 15px;
      border: 0;
      background: #333;
      color: #fff;
      border-radius: 5px;
      margin: 5px 0;
    }

    .btn:hover {
      background: #444;
    }

    .bg-dark {
      background: #333;
      color: #fff;
    }

    .error {
      background: orangered;
      color: #fff;
      padding: 5px;
      margin: 5px;
    }

    .hide {
      display: block;
    }
    
    .myDIV:hover + .hide {
      display: block;
      color: red;
    }

    #slots {
      display: block;
      padding: 5px;
      background: #abe67b;
      margin: 5px 0;
    }

    .dropbtn {
      background-color: #93ec78;
      color: white;
      padding: 16px;
      width: 720px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    .dropbtn:hover, .dropbtn:focus {
      background-color: #cde4c6;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #e1eb8f;
      min-width: 320px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown a:hover {background-color: #ddd;}
    
    .show {display: block;}